TELEDERM_DATABASE_URL=postgresql+psycopg2://telederm:telederm@postgres:5432/telederm
TELEDERM_JWT_SECRET_KEY=change-this-demo-secret
TELEDERM_UPLOAD_DIR=/app/storage/uploads
TELEDERM_MODEL_BUNDLE_DIR=/app/storage/model_bundle
TELEDERM_AUTO_BUILD_MODEL_BUNDLE=false
TELEDERM_MODEL_MLFLOW_RUN_ID=ef084927bef741f996894b8a0fdd63e3
# TELEDERM_METADATA_PATH=/app/data/raw/pad_ufes_20/metadata.csv
# TELEDERM_SPLITS_DIR=/app/data/processed/splits
TELEDERM_SEED_DEMO_USERS=true
TELEDERM_API_URL=http://api:8000

DAGSHUB_REPO_OWNER=SalmaneSossey
DAGSHUB_REPO_NAME=mlops-teledermatology
DAGSHUB_MLFLOW_TRACKING_URI=https://dagshub.com/SalmaneSossey/mlops-teledermatology.mlflow
# DAGSHUB_TOKEN=
# DAGSHUB_USERNAME=
