jupyter
ipykernel
pandas
numpy
matplotlib
pillow
scikit-learn
torch
torchvision
mlflow
dvc
huggingface_hub
fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
python-multipart
streamlit
requests
pydantic-settings
